section {
    display: flex;
}

div {
    width: 300px;
    border: 5px solid black;
    margin: 10px;
    padding: 10px;
}

.box_1 {
    background-color: gold;
    transition: transform 1s;
}

.box_1:hover {
    transform: translateX(10px);
}

.box_2 {
    background-color: darkred;
    transition: transform 1s;
}

.box_2:hover {
    transform: translateY(10px);
}

.box_3 {
    background-color: darkblue;
    transition: transform 1s;
}

.box_3:hover {
    transform: rotate(10deg);
}


.box_4 {
    background-color: gold;
    position: relative;
    top: 50px;
    left: 102px;
    z-index: 1;
    transition: transform 0.5s;
}

.box_4:hover {
    transform: scale(1.2);
    z-index: 4;
}

.box_5 {
    background-color: darkred;
    position: relative;
    top: 120px;
    right: 130px;
    z-index: 2;
    transition: transform 0.5s;
}

.box_5:hover {
    transform: skew(15deg, 15deg);
    z-index: 4;
}

.box_6 {
    background-color: darkblue;
    position: relative;
    top: 190px;
    right: 350px;
    z-index: 3;
    transition: transform 0.5s;
}

.box_6:hover {
    transform: scale(0.5) rotate(360deg) skew(30deg);
    z-index: 4;
}